@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap');

body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.hide { display: none; }
.small { font-size: 13px; color: orange; }
.currently-stalking {color: rebeccapurple; font-size: larger;}
.previous-state { color: brown; }
.updates { color: green; }
.errors-development { color: red; }